<a href="https://colab.research.google.com/github/aliraza33833/CE889/blob/main/week01/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write one line code to implement arithmetic such as addition and multiplication

In [6]:
print(2+2)
print(4*2)

4
8

Write a script with several lines to implement FOR loop
You may use the code to calculate the sum of 1, 2, 3, 4, 5, …., 100

In [7]:
j = 0

for i in range(1,101):
  j = j+i

print('The sum of 1, 2, 3, 4, 5, …., 100 is: ',j)

The sum of 1, 2, 3, 4, 5, …., 100 is:  5050

Create a variable (int, str, list etc.) and assign a value to the variable you just created

In [9]:
i = 10
s = 'hello'
l = [0,1,2]
print('Integer:{}, String:{} and List:{}'.format(i,s,l))

Integer:10, String:hello and List:[0, 1, 2]